<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Xat de l'AEiG Conxita Busquets</title>
</head>
<body>
    Això és el xat de l'AEiG Conxita Busquets<br>
    <input id="registre" type="button" value="Enregistra't">
    <input id="inici-sessio" type="button" value="Inicia sessió">

    <script>
        document.querySelector('#registre').onclick = function(e) {
            window.location.pathname = '/register';
        };
        document.querySelector('#inici-sessio').onclick = function(e) {
            window.location.pathname = '/accounts/login';
        };
    </script>
</body>
</html>
