
{% block content %}

  {% if form.errors %}
    <p>El teu usuari i clau d'accés no coincideixen amb les nostres dades. Torna a introduir-los.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Si us plau, inicia sessió per a veure aquesta pàgina.</p>
    {% endif %}
  {% endif %}
  <style>
  h2 {text-align:center;}
  p {text-align:center;}
  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"></script>
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>Nom d'usuari: </td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>Clau d'accés: </td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input class="btn btn-primary" type="submit" value="Inicia Sessió" />
    <input type="hidden" name="next" value="{{next}}" />
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Has oblidat la clau d'accés?</a></p>

{% endblock %}
