{% block content %}
    {% if validlink %}
        <p>Si us plau escriu (i confirma) la teva nova clau d'accés.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nova clau:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirma la nova clau:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Canviar la clau d'accés." /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Ha fallat</h1>
        <p>Demana un altre codi de restabliment de clau.</p>
    {% endif %}
{% endblock %}
